<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Experienced Resume</title>
    <link rel="stylesheet" href="./templates/template-css/experienced.css" />
</head>

<body>

    <div class="resume-template experienced">
        <div class="exp-resume">

            <header class="exp-header">
                <h1>{{FULL_NAME}}</h1>
                <p class="exp-contact">
                    {{EMAIL}} | {{PHONE}} | {{LINKEDIN}} | {{GITHUB}}
                </p>
            </header>

            <section>
                <h2>Professional Summary</h2>
                <p>{{SUMMARY}}</p>
            </section>

            <section>
                <h2>Core Skills</h2>
                {{SKILLS}}
            </section>


            {{EXPERIENCE}}



            {{PROJECTS}}


            <section>
                {{EDUCATION}}
            </section>



            {{CERTIFICATIONS}}




            {{ACHIEVEMENTS}}

        </div>
    </div>

</body>

</html>